@import url(./__card/elements__card.css);
@import url(./__card-image/elements__card-image.css);
@import url(./__card-description/elements__card-description.css);
@import url(./__card-name/elements__card-name.css);
@import url(./__card-like/elements__card-like.css);

.elements {
    display: grid;
    max-width: 882px;
    margin: 47.25px auto 0;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 21px 18px;
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0px;
}


@media screen and (max-width: 901px) {
    .elements {
        max-width: 582px;
}
    }

@media screen and (max-width: 685px) {
    .elements {
        max-width: 282px;
        margin: auto;
}
    } 