.card__like {
    background-image: url('../../../images/heart.svg');
    background-color: #FFFF;
    background-position: center;
    border: none;
    width: 21px;
    height: 19px;
    margin-top: 31px;
    margin-right: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

.card__like:hover {
    opacity: .6;
}

.card__like:focus  {
    outline: none;
}   